
p {
    color: red;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

h3 {
    text-align: center;
}

.tabla {
    margin: 10px;
    padding: auto;
    text-align: center;
}

body {
    margin: 30px;
    padding: auto;
}

